
body {
}
.main {
  max-width: 540px;
  margin: 70px;
}
h1 {
  font-size: 170%;
}

.photo {
  float: right;
  width: 180px;
  margin-right: -220px;
  border-radius: 3px;
}
A {

   TEXT-DECORATION:NONE;
    COLOR:   	 #007bb6;
} 
A:visited {
   TEXT-DECORATION: NONE
    COLOR: 	 #007bb6;
}
A:active {
   TEXT-DECORATION: NONE
   COLOR: #0000CC;
}
A:hover {
   TEXT-DECORATION: NONE;
    COLOR: #0000CC;

}
